:root {
    /* ===== Colors ===== */
    --body-color: #E9F1F1;
    --body-light-primary: #E2F2F1;
    --body-light: #FAFAFA;
    --sidebar-color: #30D5C7;
    --text-white: #FAFAFA;
    --text-black: #1A1A1A;

    --main-primary: #30D5C7;
    --bg-main-primary: #30D5C7;

    --primary-color: #4A9F95;
    --bg-primary-color: #4A9F95;

    --secondary-color: #F2F2F2;
    --dark-gray: #BABABA;

    --btn-color: var(--primary-color);

    --card-gradient: linear-gradient(111deg, #30D5C7 -8.96%, rgba(94, 220, 210, 0.74) 10.94%, rgba(147, 229, 222, 0.44) 41.78%, rgba(189, 236, 232, 0.21) 76.6%, rgba(226, 242, 241, 0.00) 137.38%);

    /* ====== BORDER RADIUS ====== */
    --bradius-7: 7px;
    --bradius-14: 14px;

    /* ====== SHADOW ====== */
    --shadow-neo: 2.17893px 2.17893px 6.5368px 0px rgba(174, 174, 192, 0.40), -2.17893px -2.17893px 6.5368px 0px #FFF;
    --shadow-neo-inset: 6px 6px 9px #becbca,
        -6px -6px 9px #ffffff;
    --shadow-b: 0px 5px 8px 0px rgba(0, 101, 83, 0.08), 0px 2px 0px 0px rgba(130, 188, 171, 0.08);

    /* ====== FS ====== */
    --text-size: 14px;
    --text-size2: 16px;

    /* ====== PADDING ====== */
    --p-wpl: 10px;


    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body.dark {
    --body-color: #1a2826;
    --sidebar-color: #1a2826;
    --primary-color: #4A9F95;
    --bg-primary-color: #1a2826;
    --body-light-primary: #1a2826;
    --body-light: #1a2826;
    --text-black: #FAFAFA;


    --shadow-neo: 5px 5px 8px #15201e,
        -5px -5px 8px #1f302e;
    --shadow-neo-inset: inset 5px 5px 8px #15201e,
        inset -5px -5px 8px #1f302e;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-03);
    accent-color: var(--primary-color);
    font-size: var(--text-size);
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none !important;
}

input {
    outline: none;
    border: none;
}



::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-main-primary);
    /* border: 2px solid #555555; */
}


/* Default Classes  */
.text-primary {
    color: var(--primary-color) !important;
}

.text-black {
    color: var(--text-black) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-primary-light {
    background-color: var(--body-light-primary) !important;
}

.bg-light {
    background-color: var(--body-light) !important;
}

.wrapper-primary-light {
    border-radius: 14px;
    background-color: var(--body-light-primary);
    box-shadow: var(--shadow-neo);
    padding: var(--p-wpl);
}

.wrapper-light {
    border-radius: 14px;
    background-color: var(--body-light);
    box-shadow: var(--shadow-neo);
    padding: var(--p-wpl);
}

.shadow-neo {
    box-shadow: var(--shadow-neo);
}

.shadow-soft {
    /* Shadow B */
    box-shadow: var(--shadow-b);
}

.bradius-7 {
    border-radius: var(--bradius-7);
}

.bradius-14 {
    border-radius: var(--bradius-14);
}

.sub-title-left {
    font-size: 12px;
}


/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    /* padding: 10px 14px; */
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 1035;
    border-radius: 0px 14px 14px 0px;
    box-shadow: var(--shadow-neo);
    overflow: hidden;

}

.sidebar.close {
    width: 88px;
    overflow: visible;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 8px;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    transition: var(--tran-03);
}

.sidebar li:not(.active) {
    transition: var(--tran-03);
}

.sidebar li:not(.active):hover {
    background-color: var(--bg-primary-color);
    transition: var(--tran-03);
}

.sidebar li.active {
    background-color: var(--bg-primary-color);
    transition: var(--tran-03);
}

body.dark .sidebar li.active {
    /* background-color: var(--primary-color); */
    transition: var(--tran-03);
    box-shadow: var(--shadow-neo-inset);
}

body.dark .sidebar li:not(.active):hover {
    /* background-color: var(--primary-color); */
    transition: var(--tran-03);
    box-shadow: var(--shadow-neo-inset);
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.sidebar .text,
.sidebar .icon,
.sidebar .title-menu {
    color: var(--text-white);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    letter-spacing: 0.3px;
    display: block;
    transition: opacity 0.3s linear 2s;

}

.sidebar.close .text {
    /* opacity: 0; */
    display: none;
    /* transition: opacity 0.3s linear 2s; */
}

.sidebar.close .op_0 {
    display: none;
}

.sidebar.close .help_center {
    background-color: transparent;
}

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
    padding: 14px 14px;
    justify-content: center;
    gap: 7px;
}

/* .sidebar.close header .image-text {
    padding: 0;
} */

.dark .sidebar header .logo-text {
    filter: brightness(1) invert(1);
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 60px;
}

.sidebar header .logo-text img {
    width: 100%;
}


.sidebar .toggle_icon .toggle {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    /* height: 25px;
    width: 25px; */
    background-color: var(--secondary-color);
    color: var(--primary-color);
    /* padding: 10px 5px; */
    padding: 4px 2px;
    border-radius: 14px 0px 0px 14px;
    /* Shadow B */
    box-shadow: 0px 5px 8px 0px rgba(0, 101, 83, 0.08), 0px 2px 0px 0px rgba(130, 188, 171, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
    z-index: 999;
}

body.dark .sidebar .toggle_icon .toggle {
    color: var(--text-color);
}

.sidebar .toggle_icon .toggle i {
    transform: rotate(180deg);
}

.sidebar.close .toggle i {
    transform: rotate(0deg);
}

.sidebar .menu {
    /* top: 6%; */
    position: relative;
    padding-left: 14px;
}

.sidebar.close .menu {
    /* top: 6%; */
    position: relative;
    padding-right: 14px;
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    /* margin: 0 20px; */
    border-radius: 11px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar .bottom-content .btn {
    width: max-content;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 14px;
    height: 40px;
    padding: 10px;
}

.sidebar .bottom-content .rounded-circle {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar.close .title-menu {
    text-align: center;
    padding-left: 0;
}

.sidebar.close li {
    border-radius: 14px;
    width: 40px;
    margin: 0px auto 8px auto;
}

.sidebar.close li a {
    display: block;
    margin: auto;
    transition: var(--tran-03);
}

.sidebar.close .icon {
    min-width: auto;
}

.sidebar li:has(> a:hover) {
    opacity: 1;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 30px);
    z-index: 3;
    background: var(--sidebar-color);
    color: var(--text-white);
    box-shadow: var(--shadow-neo);
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}


.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}


.sidebar.open li .tooltip {
    display: none;
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-white);
}

.sidebar .menu-bar {
    height: calc(100% - 115px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* overflow-y: scroll; */
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.overlay_home {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: #000 !important;
    filter: alpha(opacity=50) !important;
    -moz-opacity: 0.5 !important;
    -khtml-opacity: 0.5 !important;
    opacity: 0.5 !important;
    z-index: 1034 !important;
    /*changed 17/02/2023*/
    pointer-events: none !important;
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 240px;
    height: 100vh;
    width: calc(100% - 240px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.main {
    /* padding-top: 75px; */
    padding-bottom: 35px;
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar .help_text {
    white-space: pre-line;
}

.sidebar.close~.home {
    left: 88px;
    height: 100vh;
    width: calc(100% - 88px);
}

body.dark .home .text {
    color: var(--text-color);
}

/* For Max Width View 992px */
@media screen and (max-width: 991px) {
    .sidebar {
        left: -270px;
        box-shadow: none;
    }

    .sidebar.close {
        left: -270px;
    }

    .home {
        left: 0 !important;
        width: 100% !important;
    }

    .sidenav-toggled .sidebar {
        left: 0;
    }

}


/* ==========NAVBAR=============  */
/* .navbar {} */

.navbar_container {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 10px 24px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 14px;
    background: var(--body-light-primary);

    /* Neu new */
    box-shadow: var(--shadow-neo)
}

.navbar_container .pro-pic {
    width: 40px;
    height: 40px;
    overflow: hidden;

}

.navbar_container .nav-search {
    background: var(--body-light);
    display: flex;
    width: 400px;
    padding: 0px 8px 0px 16px;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 8px;
}

body.dark .navbar_container .nav-search {
    box-shadow: var(--shadow-neo-inset);
}

.navbar_container .nav-search input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
}

.navbar_container .nav-notification {

    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 5px;
    top: 15%;
    right: 6%;
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;

}

.navbar_container .nav-notification::after {
    content: "";
    width: 6px;
    height: 6px;
    position: inherit;
    border-radius: 5px;
    background: red;

}


.navbar_container .dropdown-menu.header-search {
    position: absolute;
    width: calc(100% - 1.5rem);
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    border-radius: 14px;
}

.popup-toggle {
    padding: 2px 10px;
    border-radius: 20px 0px 0px 20px;
    background-color: var(--body-light);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 999;
    box-shadow: var(--shadow-neo);
}

/* ============ Navbar End ============  */



.admin-dash .card-dash {
    height: 230px;
    background: var(--card-gradient);
    border-radius: 14px;
    box-shadow: var(--shadow-neo);
    width: 100%;
    margin-bottom: 40px;
}

.admin-dash .calender-dash {
    height: 500px;
    border-radius: 14px;
    box-shadow: var(--shadow-neo);
    width: 100%;
    margin-bottom: 40px;
}

.admin-dash .table-dash {
    height: 440px;
    background: var(--body-light-primary);
    border-radius: 14px;
    box-shadow: var(--shadow-neo);
    width: 100%;
}




/* ====================FORM WIZARD====================  */


/* .form-wizard {
    padding: 64px;
} */

/* .form-wizard .wizard-form-radio {
    display: inline-block;
    margin-left: 5px;
    position: relative;
} */

/* .form-wizard .wizard-form-radio input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: var(--body-light-primary);
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
} */

/* .form-wizard .wizard-form-radio input[type="radio"]:focus {
    outline: 0;
}

.form-wizard .wizard-form-radio input[type="radio"]:checked {
    background-color: #fb1647;
} */

/* .form-wizard .wizard-form-radio input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 50%;
    left: 1px;
    right: 0;
    margin: 0 auto;
    top: 8px;
} */

/* .form-wizard .wizard-form-radio input[type="radio"]:checked::after {
    content: "";
    display: inline-block;
    webkit-animation: click-radio-wave 0.65s;
    -moz-animation: click-radio-wave 0.65s;
    animation: click-radio-wave 0.65s;
    background: #000000;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
    border-radius: 50%;
} */

/* .form-wizard .wizard-form-radio input[type="radio"]~label {
    padding-left: 10px;
    cursor: pointer;
} */

.form-wizard .form-wizard-header {
    text-align: center;
    height: 80px;
    border-radius: 7px;
    background-color: var(--body-light);
    box-shadow: var(--shadow-b);
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-wizard .wizard-buttons-group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

}

.form-wizard .form-wizard-next-btn,
.form-wizard .form-wizard-previous-btn,
.form-wizard .form-wizard-submit {
    /* background-color: var(--bg-main-primary); */
    /* color: #ffffff; */
    /* display: inline-block; */
    min-width: 100px;
    min-width: 120px;
    /* padding: 10px; */
    /* text-align: center; */
}

/* .form-wizard .form-wizard-next-btn:hover,
.form-wizard .form-wizard-next-btn:focus,
.form-wizard .form-wizard-previous-btn:hover,
.form-wizard .form-wizard-previous-btn:focus,
.form-wizard .form-wizard-submit:hover,
.form-wizard .form-wizard-submit:focus {
    color: #ffffff;
    opacity: 0.6;
    text-decoration: none;
} */

.form-wizard .wizard-fieldset {
    display: none;
}

.form-wizard .wizard-fieldset.show {
    display: block;
}

/* .form-wizard .wizard-form-error {
    display: none;
    background-color: #d70b0b;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
} */

/* .form-wizard .form-wizard-previous-btn {
    background-color: #fb1647;
} */

/* .form-wizard .form-control {
    font-weight: 300;
    height: auto !important;
    padding: 15px;
    color: #888888;
    background-color: #f1f1f1;
    border: none;
} */

/* .form-wizard .form-control:focus {
    box-shadow: none;
} */

/* .form-wizard .form-group {
    position: relative;
    margin: 25px 0;
} */

/* .form-wizard .wizard-form-text-label {
    position: absolute;
    left: 10px;
    top: 16px;
    transition: 0.2s linear all;
} */

/* .form-wizard .focus-input .wizard-form-text-label {
    color: var(--bg-main-primary);
    top: -18px;
    transition: 0.2s linear all;
    font-size: 12px;
} */

.form-wizard .form-wizard-steps {
    margin: 0;
    display: flex;
    width: 100%;
}

.form-wizard .form-wizard-steps li {
    width: 10%;
    float: left;
    position: relative;
}

.form-wizard .form-wizard-steps li::after {
    background-color: var(--body-light-primary);
    content: "";
    height: 5px;
    opacity: 0.5;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    /* border-bottom: 1px solid var(--body-light-primary);
    border-top: 1px solid var(--body-light-primary); */
}

.form-wizard .form-wizard-steps li span {
    background-color: var(--body-light-primary);
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-align: center;
    width: 40px;
    z-index: 1;
}

.form-wizard .form-wizard-steps li:last-child::after {
    width: 50%;
}

.form-wizard .form-wizard-steps li.active span,
.form-wizard .form-wizard-steps li.activated span {
    background-color: var(--bg-main-primary);
    color: #ffffff;
}

.form-wizard .form-wizard-steps li.active::after,
.form-wizard .form-wizard-steps li.activated::after {
    /* background-color: var(--bg-main-primary); */
    background: linear-gradient(90deg, #30D5C7 0%, #FAFAFA 102.33%);
    left: 50%;
    width: 50%;
    border-color: var(--bg-main-primary);
    opacity: 1;
}

.form-wizard .form-wizard-steps li.activated::after {
    width: 100%;
    border-color: var(--bg-main-primary);
    background: var(--bg-main-primary);
    opacity: 1;
}

.form-wizard .form-wizard-steps li:last-child::after {
    left: 0;
}

.form-wizard .wizard-password-eye {
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form-items-wrapper {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 20px;
}

@keyframes click-radio-wave {
    0% {
        width: 25px;
        height: 25px;
        opacity: 0.35;
        position: relative;
    }

    100% {
        width: 60px;
        height: 60px;
        margin-left: -15px;
        margin-top: -15px;
        opacity: 0.0;
    }
}

/* @media screen and (max-width: 767px) {
    .wizard-content-left {
        height: auto;
    }
} */



/* ====================Loader====================  */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-light-primary);
    overflow: hidden;
    z-index: 9999;

}

.loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 1),
        inset 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.loader img {
    width: 50px;
}

.loader::before {
    content: "";
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 1),
        10px 10px 10px rgba(0, 0, 0, 0.1);
}

.loader span {
    height: 86px;
    width: 86px;
    position: absolute;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.loader span::before {
    content: "";
    position: absolute;
    height: 12px;
    border-radius: 50%;
    width: 12px;
    /* background: linear-gradient(45deg, #336dff, #5c89ff); */
    background: var(--bg-main-primary);
    box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
}



.inner-wrapper .inner-right {
    border-bottom: 1px solid var(--dark-gray);
}

.inner-wrapper .inner-right:not(:first-child) {
    padding-top: 20px;
}










/* ================Responsive=====================  */


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    :root {
        --p-wpl: 10px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    :root {
        --p-wpl: 15px;
    }

    .form-items-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .form-wizard .wizard-buttons-group {
        display: flex;
        justify-content: end;
        gap: 20px;
        flex-direction: row;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    :root {
        --p-wpl: 35px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    :root {
        --p-wpl: 64px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}

/* XXX-Large devices (larger desktops, 1800px and up) */
@media (min-width: 1800px) {
    .form-items-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 33.33333%);
    }
}